* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenitore div{
    height: 30vh;
    width: 20vw;
    text-align: center;
    position: relative;
    margin-bottom: 5px
}

.contenitore div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.roma{
    background-image: url(img/roma.jpg);
    background-size: cover;
}

.copenaghen{
    background-image: url(img/copenaghen.jpg);
    background-size: cover;
}

.tokyo{
    background-image: url(img/tokyo.jpg);
    background-size: cover;
}

#prima{
    height: 30vh;
    width: 20vw;
    opacity: 0.5;
}

#seconda{
    height: 30vh;
    width: 20vw;
    opacity: 0.5;
}

#terza{
    height: 30vh;
    width: 20vw;
    opacity: 0.5;
}
